#render-modal-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#sub-header {
  margin-top: 0;
  text-align: center;
}

.modal-button {
  display: block;
  border: 1px solid #a3abf3;
  background: #a3abf3;
  border-radius: 10px;
  margin: 0 auto;
  width: 30%;
}

.modal-button:hover {
  cursor: pointer;
  background: #7b81b9;
  border: 1px solid #7b81b9;
  color: #FFFFFF;
}

.modal-button-text {
  text-align: center;
  font-weight: 900;
  font-size: 1.6rem;
  margin: 2%;
}

#reset-button {
  margin-top: 5%;
  margin-left: 2%;
  width: 15%;
  background: #E29090;
  border: 1px solid #E29090;
}

#reset-button:hover {
  background: #A86C6C;
  border: 1px solid #A86C6C;
  color: #000000;
}

#reset-button-text {
  font-size: 1rem;
}

#modal-close-button-x {
  float: right;
  font-weight: 900;
  border: 2px solid #606060;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
}

#modal-close-button-x:hover {
  cursor: pointer;
}

#modal-close-button {
  font-size: 15px;
}

#modal {
  margin: auto;
  width: 80%;
  height: 100%;
  border-radius: 5px;
  background: white;
  z-index: 1000;
}

/* conditionally rendered */
.modal-overlay {
  z-index: 1;
  background: #0a0a0ac5;
}

#modal-header, .modal-message {
  text-align: center;
}

.modal-message {
  font-size: 1.2rem;
}

#modal-header {
  width: 100%;
  height: auto;
  background: #EEEEEE;
  margin-top: 0;
  border-radius: 5px 5px 0 0;
}

#modal-header-text {
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
}

#modal-location {
  width: 100%;
  height: 150px;
}

@media (max-width: 600px) {
  #modal-location {
    height: 25%;
  }

  #modal-header-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  #modal-location {
    height: 200px;
  }
}