#home-buttons {
 width: 80%;
 margin: 0 auto;
 display: flex;
 justify-content: space-around;
}

.home-button {
  display: block;
  text-decoration: none;
  background: #a3abf3;
  border: 2px solid #a3abf3;
  border-radius: 10px;
  padding: 10px 10px;
  color: #000000;
  font-weight: 900;
  text-align: center;
}

.home-button:hover {
  background: #7b81b9;
  border: 2px solid #7b81b9;
  color: #FFFFFF;
}

#home-message {
  text-align: center;
}

@media (max-width: 600px) {
  #home-buttons {
    flex-direction: column;
    justify-content: space-between;
   }

  .home-button {
    margin: 10px 5px;
  }

}